*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.grid-cont{
    height: 800x;
    width: 400px;
    display: grid;
    grid-template-columns:repeat(2, 200px);
    grid-template-rows: 200px 50px 125px 125px 150px;
    gap: 10px;
}

.grid1{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    overflow: hidden;
}

.grid2{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 10px;
    overflow: hidden;
}

.grid3{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/5;
    border-radius: 10px;
    overflow: hidden;
}

.grid4{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/4;
    border-radius: 10px;
    overflow: hidden;
}

.grid5{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    grid-row: 5/6;
    border-radius: 10px;
    overflow: hidden;
}

.grid6{
    background-color: #FFFFFF0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 4/6;
    border-radius: 10px;
    overflow: hidden;
}

.tx1{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}

.txt1{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image1{
    padding-top: 18px;
    width: 150px;
}

.tx2{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}


.txt2{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image2{
    padding-top: 18px;
    width: 200px;
    height: 126px;
}

.tx3{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}

.txt3{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image3{
    padding-top: 18px;
    width: 170px;
}

.tx4{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}

.txt4{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image4{
    padding-top: 18px;
    width: 160px;
}

.tx5{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}

.txt5{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image5{
    padding-top: 18px;
    width: 160px;
}

.tx6{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    line-height: 1;
}

.txt6{
    font-size: 12px;
    color: #FFFFFFBF;
}

.image6{
    padding-top: 18px;
    width: 160px;
}
