@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aliceblue;
}

.grid {
    height: 645x;
    width: 745px;
    display: grid;
    grid-template-columns:repeat(4, 175px);
    grid-template-rows: 225px 75px 100px 200px;
    gap: 15px;
}

.text1{
    background-color: hsl(256, 67%, 59%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    padding-bottom: 10px;
    border-radius: 10px;
}

.text2{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/4;
    border-radius: 10px;
    overflow: hidden;
}

.text3{
    background-color: hsl(39, 100%, 71%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 2/4;
    border-radius: 10px;
    overflow: hidden;
}

.text4{
    background-color: hsl(254, 88%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 1/4;
    border-radius: 10px;
    overflow: hidden;
}

.text5{
    background-color:  hsl(256, 67%, 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    grid-row: 4/5;
    border-radius: 10px;
    overflow: hidden;
}

.text6{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 10px;
    overflow: hidden;
}

.text7{
    background-color: hsl(31, 66%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    overflow: hidden;
}

.text8{
    background-color: hsl(39, 100%, 71%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 3/5;
    border-radius: 10px;
    overflow: hidden;
}

.text1P{
    font-size: 45px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 1;
}

.highlight{
    color: hsl(39, 100%, 71%);
}

.stars-image{
    width:130px;
    padding-top: 10px;
}

.reviews{
    color:hsl(0, 0%, 100%);
    font-family: "DM Sans", sans-serif;
    padding-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}

.multplatforms{
    width:300px;
    padding-bottom: 10px;
    padding-left: 80px;
}

.text2P{
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    padding-left: 20px;
    line-height: 0.9;
    padding-top: 10px;
    font-weight: 700;
}

.text3P{
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-top: 80px;
    padding-left: 20px;
}

.schedule{
    width: 150px;
    padding-top: 20px;
}

.text4P{
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 15px;
}

.schedulep{
    width: 250px;
    height: 220px;
    padding-left: 50px;
}

.text4P2{
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-top: 20px;
    opacity: 0.8;
}

.growfollowers{
    width: 180px;
    height: 170px;
    padding-left: 20px;
}

.text5P{
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 0.9;
    font-weight: 700;
}

.text6P{
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-top: 20px;
    opacity: 0.7;
}

.text6P2{
    font-size: 50px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-top: 10px;
}

.audience{
    width: 150px;
    padding-top: 20px;
}

.text7P{
    font-size: 27px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 10px;
}

.text7P2{
    color: hsl(256, 67%, 59%);
}

.illustration{
    width: 150px;
    padding-top: 20px;
}

.text8P{
    font-size: 27px;
    font-family: "DM Sans", sans-serif;
    color: hsl(0, 0%, 7%);
    line-height: 0.9;
    font-weight: 700;
    padding-left: 15px;
}

.aicontent{
    width: 150px;
    padding-top: 40px;
}